.widget-page-button .pagebutton {
    position: relative;
}
.widget-page-button .custom-listview-page-button {
    display: none;
}

.widget-page-button .mx-button {
    padding: 12px;
    color: #999;
    border-color: transparent;
}

.widget-page-button .btn:hover, .widget-page-button .btn:focus, .widget-page-button .btn:active {
    color: #0595DB;
    border-color: transparent;
    background-color: transparent;
}

.widget-page-button .page-button .disabled, .widget-page-button .page-button .disabled:focus {
    border-color: transparent;
    color: #999;
}
